#global-warning {
	position: absolute;
	left: 35%;
	top: 25px;
	height: 50px;
	width: 30%;

	background-color: black;
	color: red;
}

#north-west {
	float: left;
}
#north-east {
	float: left;
	margin-left: 50px;
}
#south {
	float: left;
	text-align: center;
}
#tooltip {
	width: 290px;
	height: 75px;	
}

.clear {
	clear: both;
}

.tab-button {
	width: 110px;
	height: 30px;
}

.course-section {
	float: left;
}
.course-section > select {
	width: 200px;
	margin-right: 10px;
}
.course-section > p {
	padding-right: 10px;
	text-align: center;
}