#northWest {
	float: left;
}
#northEast {
	float: left;
	margin-left: 50px;
}
#south {
	float: left;
	text-align: center;
}
textarea {
	width: 290px;
	height: 75px;	
}

.clear {
	clear: both;
}

.optionButton {
	width: 110px;
	height: 30px;
}

.course-section {
	float: left;
}
.course-section > select {
	width: 200px;
	margin-right: 10px;
}
.course-section > p {
	padding-right: 10px;
	text-align: center;
}