select{
	width:200px;
	margin-right:10px;
}
textarea{
	width:290px;
	height:75px;
	
}
.optionButton{
	width:110px;
	height:30px;
}

#northWest{
	float:left;
}
#northEast{
	float:left;
	margin-left:50px;
}
#south{
	float:left;
	text-align:center;
}
#clearLeft{
	clear:left;
}
